:root {
    --white-color: #fff;
    --dark-color: #1C2E3D;
    --accent-color: #E8594E;
    --neptune-color: #73afba;
}

.btn-reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.btn {
    display: inline-block;
    visibility: hidden;
}

.burger {
    width: 48px;
    height: 10px;
    position: relative;
    transition: opacity 0.3s;
}

.burger:hover .burger__line {
    background-color: #5096FF;
    transition: background-color 0.3s;
}

.burger__line {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    position: absolute;
    right: 10%;
    top: -3px;
}

.burger__line:last-child {
    top: auto;
    bottom: 0;
}

.menu {
    position: fixed;
    left: -150vw;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    transition: left 0.5s;
}

.menu--visible {
    left: 0;
    transition: left 0.5s;
}

.menu__nav {
    width: 100%;
    height: 100%;
}

.menu__list {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 65px;
}

.menu__item > a{
    margin-bottom: 15px;
    transition: color 1s;
    color: #000;
    display: inline-block;
}


.menu__item:hover {
    transition: color 0.3s;
    color: rgb(42, 85, 165);
}

.menu__close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 3%;
    top: 5%;
}

.menu__close-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
}

.menu__close-line:first-child {
    transform: rotate(45deg);
}

.menu__close-line:last-child {
    transform: rotate(-45deg);
}
